.container {
    width: 90%;
    margin: auto;
    /* padding: 50px 0; */
    /* background-color: red; */
}

.heading {
    /* background-color: pink; */
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.left {
    font-size: 40px;
    font-weight: 700;
}

.right {
    border: 1px solid var(--soulsync-orange);
    width: 500px;
    margin-left: 20px;
}

.sub_container {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.sub_container_mobile {
    display: none;
}

.animation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #696984;
    margin-bottom: 50px;
    /* background-color: pink; */
}

.right_animation {
    width: 80%;
    line-height: 42px;
    font-size: 27px;
}

.animation .left_animation img {
    width: 75%;
    margin-right: 20px;
}


@media (max-width: 576px) {

    .left {
        font-size: 24px;
        font-weight: 700;
        width: 70%;
        /* background-color: red; */
    }
    .right{
        width: 40%;
    }

    .animation{
        display: flex;
        flex-wrap: nowrap;
    }

    .right_animation {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;
    }

    .sub_container {
        display: none;
    }

    .sub_container_mobile {
        display: block;
    }


}