.container {
    width: 90%;
    margin: auto;
    /* padding: 50px 0; */
    /* background-color: red; */
}

.heading {
    /* background-color: pink; */
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.heading>.left {
    font-size: 40px;
    font-weight: 700;
    color: var(--soulsync-blue);
    width: max-content;
}

.heading>.right {
    border: 1px solid var(--soulsync-orange);
    width: 300px;
    margin-left: 20px;
}


.step_section {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: space-evenly;
    /* border-top: 1px solid red; */
    padding: 20px 0 100px 0;
    /* background-image: url('../../Images/Line.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 100px;
    z-index: 0 !important; */
}

.line_year {
    background-color: rgb(255, 166, 1);
    width: 10%;
    height: 2px;
    margin-bottom: 100px;
    z-index: 99;
}

.big_line {
    position: absolute;
    width: 100%;
    margin-bottom: 130px;
    z-index: -9 !important;
}

.big_line img {
    width: 100%;
    /* z-index: -9 !important; */
}

.first_section {
    width: 15%;
    z-index: -9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid pink; */
    /* background-color: palegoldenrod; */
}

.section_img {
    width: 65%;
    z-index: 9 !important;
}

.section_img img {
    z-index: 99 !important;
    width: 100%;
    /* background-color: rgb(32, 24, 24) !important; */
}

.first_section img {
    width: 100%;
    z-index: 9;
    display: block;
    /* background-color: rgb(255, 255, 255); */
}

.sub_heading1 {
    color: var(--soulsync-blue);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    letter-spacing: 0 !important;
    text-align: center;
    /* margin-top: 10px;
    background-color: red; */
}

.sub_heading2 {
    color: var(--soulsync-grey);
    font-size: 16px;
    width: 100%;
    /* background-color: palegoldenrod; */
    text-align: center;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0 !important;
}


@media (max-width:1440px) {
    
}

@media (max-width: 576px) {

    .big_line {
        display: none;
    }

    .heading {
        padding: 50px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .heading>.left {
        letter-spacing: 0;
        font-size: 24px;
        width: 70% !important;
        font-weight: 700;
        color: var(--soulsync-blue);
        width: max-content;
    }


    .heading>.right {
        border: 1px solid var(--soulsync-orange);
        width: 100px;
        display: none;
        margin-left: 20px;
    }

    .step_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0 0px 0;
    }


    .line_year {
        display: none;
    }

    .first_section {
        width: 100%;
    }

    .sub_heading1 {
        font-size: 20px !important;
    }

    .sub_heading2 {
        font-size: 16px !important;
        padding: 0 40px;
    }

    .section_img {
        width: 65%;
    }
}