.container {
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    /* background-color: red; */
    padding-bottom: 100px;
}

.container .solution,
.container .problem {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid rgb(255, 0, 43); */
}

.problem {
    font-weight: 700;
    font-size: 40px;
}

.container .solution {
    display: flex !important;
    text-align: right;
    justify-content: end;
    flex-direction: column;
    /* background-color: pink; */
    align-items: end;
    /* border: 1px solid red; */
}


.heading {
    /* background-color: pink; */
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.solution .heading {
    display: flex;
    justify-content: end;
}

.left {
    font-size: 40px;
    font-weight: 700;
}

.problem .heading .right,
.solution .heading .right {
    border: 1px solid var(--soulsync-orange);
    width: 300px !important;
    margin-left: 20px;
}

.solution .heading .right {
    margin-right: 20px;
    border: 1px solid var(--soulsync-orange);
    width: 300px !important;
}

.box {
    /* border: 1px solid pink; */
    width: 90%;
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 12%;
    margin: auto;
}

.icon img {
    width: 100%;
    display: block;
    text-align: center;
}

.problem .txt,
.solution .txt {
    width: 80%;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
}

.problem .subheading1,
.solution .subheading1 {
    letter-spacing: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--soulsync-blue);
}

.problem .subheading2,
.solution .subheading2 {
    padding-top: 50px;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--soulsync-black);
}

.orange_line {
    width: 5px;
    height: 250px;
    border-radius: 10%;
    background-color: var(--soulsync-orange);
}


@media (max-width:576px) {

    .container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .container .solution,
    .container .problem {
        width: 100%;
        display: flex;
    }

    .box {
        /* border: 1px solid pink; */
        width: 100%;
        padding: 20px 0;
    }


    .orange_line {
        width: 3px;
        height: 150px;
        border-radius: 10%;
        background-color: var(--soulsync-orange);
    }

    .icon {
        width: 15%;
    }

    .problem .subheading1,
    .solution .subheading1 {
        letter-spacing: 0;
        font-size: 16px;
        font-weight: 700;
    }

    .problem .subheading2,
    .solution .subheading2 {
        font-size: 12px;
        letter-spacing: 0;
        font-weight: 400;
    }

    .problem .heading .left,
    .solution .heading .left {
        /* background-color: red; */
        font-size: 24px;
        letter-spacing: 0;
    }
}